{% block content %}

<div class="title">
    <h1>Añadir a los estudiantes la monografía</h1>
</div>
<div class="container">

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Estudiante</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
            {% for student in students %}
          <tr>
            <td>{{student.id}}</td>
            <td>{{student.nombres}} {{student.apellidos}} </td>
            <td><button class="btn btn-success">Asignar monografía</button>
                <button class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="7" class="text-center align-middle">No hay Estudiantes registrados</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

{% endblock %}