{% block content %}

<div class="title"  data-addProf-url="{{ addProfUrl }}">
    <h1>Añadir un tutor a una monografía</h1>
</div>
<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Profesor</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      {% for profesor in profesores %}
      <tr>
        <td>{{profesor.id}}</td>
        <td>{{profesor.nombres}} {{profesor.apellidos}}</td>
        <td>
          <button class="btn btn-success mr-2" data-toggle="modal" data-target="#exampleModal" type="button">Asignar monografía</button>
          <br>
          <form id="deleteProfForm" data-register-url="{% url 'deleteProf' id=profesor.id %}" method="post" style="display:inline;">
            <input type="hidden" name="id" value="{{ profesor.id }}" />
            {% csrf_token %}
            <button class="btn btn-danger mt-2">Eliminar</button>
          </form>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7" class="text-center align-middle">No hay Profesores registrados</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
</div>

{% endblock %}