{% block content %}

<div class="title">
    <h1>Registrar una Monografía</h1>
</div>
<div class="container">
  <div id="form-container" data-register-url="{% url 'registerMono' %}">
    <form id="monoForm" method="post" >
      {% csrf_token %}
      <div class="form-group">
        <label for="inputTitulo">Título</label>
        <input name="titulo" type="text" class="form-control" id="inputTitulo" placeholder="Título de la monografía">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputFechaDefensa">Fecha de Defensa</label>
          <input name="fecha_defensa" type="date" class="form-control" id="inputFechaDefensa">
        </div>
        <div class="form-group col-md-6">
          <label for="inputNotaDefensa">Nota de Defensa</label>
          <input name="nota_defensa" type="number" class="form-control" id="inputNotaDefensa" placeholder="Nota de la defensa" min="0" max="100">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputTiempoOtorgado">Tiempo Otorgado</label>
          <input name="tiempo_otorgado" type="text" class="form-control" id="inputTiempoOtorgado" placeholder="Ej. 45">
        </div>
        <div class="form-group col-md-6">
          <label for="inputTiempoDefensa">Tiempo de Defensa</label>
          <input name="tiempo_defensa" type="text" class="form-control" id="inputTiempoDefensa" placeholder="Ej. 12">
        </div>
      </div>
      <div class="form-group text-center">
        <label for="inputTiempoPregunta">Tiempo de Pregunta</label>
        <input name="tiempo_pregunta" type="text" class="form-control" id="inputTiempoPregunta" placeholder="Ej. 30" style="max-width: 50%; margin: 0 auto;">
      </div>
      
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Registrar Monografía</button>
      </div>
      
      
  </form>
</div>
</div>
{% endblock %}